library my_template;

import 'package:angular/angular.dart';

@Component(selector: 'my-template', templateUrl: 'packages/quickpin/component/my-template.html', cssUrl: 'my-template.css', useShadowDom: false)
class MyTemplateComponent {
  String name;
  MyTemplateComponent() {
    name = 'World';
  }
}
